<div class="container">
    <h1>REGISTRO</h1>

    <form (ngSubmit)="registro(formulario)" #formulario = "ngForm" >
        <label for="username" class="form-label">Email:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'📧'}}</span>
            <input type="text" class="form-control" placeholder="Username" name="email" [(ngModel)]="email" >
        </div>

        
        <label for="pwd" class="form-label">Password:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'🔑'}}</span>
            <input type="text" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'tipo de ususario'}}</span>
            <input type="text" class="form-control" placeholder="tipo" name="tipo" [(ngModel)]="tipo">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'edad'}}</span>
            <input type="text" class="form-control" placeholder="edad" name="edad" [(ngModel)]="edad">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'genero'}}</span>
            <input type="text" class="form-control" placeholder="genero" name="genero" [(ngModel)]="genero">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
