<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .error-container {
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 error-container">
                <img src="https://th.bing.com/th/id/OIP.xemAIrvezbdE_VNNdstcXQAAAA?rs=1&pid=ImgDetMain" alt="Error 404">
                <h1 class="mt-3">Error 404</h1>
                <p class="lead">Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
                <a href="/" class="btn btn-primary">Ir a la página de inicio</a>
            </div>
        </div>
    </div>
</body>
</html>